* {
    margin: 0;
    padding: 0;
}

.pop-quiz {
    position: fixed;
    top: 30%;
    width: 100%;
    height: 100%;
}

#quiz1 {
    font-size: 40px;
    position: relative;
    top: -15%;
    margin: auto;
    width: 90%;
    height: 80%;
    padding: 10px;
    border: 1px solid black;
    opacity: 0.9;
}

button {
    background-color: white;
    width: 200px;
    height: 50px;
    margin: 5px;
}

button:hover {
    color: white;
    background-color: black;
}

#num {
    text-align: center;
    padding-bottom: 5px;
    font-size: 55px;
    color: #804000;
}

hr {
    position: relative;
    top: 50%;
}

#start {
    position: relative;
    top: 50%;
    text-align: center;
    padding-top: 0px;
    font-size: 20px;
    color: black;
    width: 25%;
    height: 10%;
    margin: auto;
    background-color: #ff9900;
    cursor: pointer;
    font-family: Impact;
}

#ans {
    font-size: 15px;
    padding: 5px;
    cursor: pointer;
}

#distime {
    font-size: 15px;
}

.wrong {
    color: #008000;
    font-size: 40px;
}

.correct {
    color: #990000;
    font-size: 40px;
}

.time_out {
    color: #00004d;
    font-size: 40px;
}

#display7 {
    color: #990000;
    font-size: 40px;
}

#display8 {
    color: #990000;
    font-size: 40px;
}