.student {
float: left;
width: 25%;
height:657px;
margin:0px;
font-family: Serif;
}

h1 {
position: absolute;
bottom: 0px;
color: black;
font-size:100px;
margin-left: 120px;
margin-bottom: 35px;
}

body {
height:100%;
margin:0;
}

.picture {
position: absolute;
top: 180px;
width: 260px;
height: 260px;
border-radius: 50%;
border-style: solid;
border-color: white;
margin-left: 36px;

}

p {
font-size:20px;
transform: translate(-50%, -50%);
text-align: center;
}

.stu_details {
position: absolute;
top: 288px;
margin-left: 169px;
height: 260px;
width: 260px;
opacity: 0;
transition: .1s ease;
border-radius: 50%;
background-color: #ffb366;
}


.display:hover .stu_details {
opacity: 1;
font-size: 25px;
font-family: Helvetica;
}